week4-assesment/src/main/mule/week4-assesment.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="85b03af6-9fd0-4ef3-8c01-63e2335fa8d7" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="5b74385e-69a6-4a99-9022-50eada27a73f" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="newdb" />
	</db:config>
	<db:config name="Database_Config1" doc:name="Database Config" doc:id="a8ecc77e-fada-4cff-93fd-5bc3e978d040" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="newdb" />
	</db:config>
	<flow name="week4-assesmentFlow" doc:id="360bfd2d-c13b-4b87-835f-e73834e688f7" >
		<http:listener doc:name="Listener" doc:id="f9ee27c7-16a0-4158-945c-642ad405c875" config-ref="HTTP_Listener_config" path="/accountholderdtls"/>
		<db:select doc:id="5f7ae79b-8724-4813-8257-2953c7dc76e9" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from newdb.accountholder]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="88d592d4-340a-49ec-a518-42593813c16c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="01368a2b-8661-4b84-9352-061426aae135" message="#[payload]"/>
	</flow>
	<flow name="week4-assesmentFlow1" doc:id="45db3ff7-4d7f-4e69-a2a4-547adf989ba3" >
		<http:listener doc:name="Listener" doc:id="61ed38f2-9d9e-4b75-8f7e-eeb22867172f" config-ref="HTTP_Listener_config" path="/insert"/>
		<db:insert doc:name="Insert" doc:id="40d49b3c-f221-442a-bd73-9b079376c559" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into newdb.accountholder(Id,Name,accountnum,mobile,address) Values(28,"prerana","78573","765635","hyd");]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id:payload.id,
	name:payload.name,
	accountnum:payload.accountnum,
	mobile:payload.mobile,
	address:payload.address
}]]]></db:input-parameters>
		</db:insert>
		<logger level="INFO" doc:name="Logger" doc:id="d1e32790-66fd-496e-b3a6-50bb4a60902e" message="#[payload]"/>
	</flow>
</mule>
